<!-- Viewer -->
<div id="viewerDiv" class="m-0 p-0 w-100 h-100"></div>
<!-- Inspector -->
<div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto d-none"></div>
<!-- Optional additional content from the example (custom buttons, etc.) -->
<%- content %>
<!-- Status bar -->
<div id="status-bar" class="bg-light d-flex w-100 position-absolute bottom-0 start-0 status-bar">
    <div
        class="progress m-2 status-progress-bar"
        role="progressbar"
        style="height: 5px"
        aria-label="Loading progress"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
    >
        <div id="progress-bar" class="progress-bar" style="width: 100%"></div>
    </div>
    <span id="loading-percent" class="status-progress-value">100%</span>
    <% if (locals.showMemoryUsage) { %>
    <span id="memory-usage" class="mx-2 memory-usage">0 MB</span>
    <% } %>
    <span class="text-center status-attribution"><%- attribution %></span>
    <!-- Coordinates -->
    <div class="px-1 position-absolute end-0 d-inline-flex">
        <div id="coordinates" class="mx-2 text-secondary" style="width: 18rem"></div>
        <button type="button" id="crs" class="badge rounded-pill text-bg-secondary">WGS84</button>
    </div>
</div>
<!-- Full-screen button -->
<div id="fullscreenDiv" class="position-absolute top-0 start-0 mx-2 my-2 overflow-auto">
    <button
        id="btnFullscreen"
        type="button"
        class="btn btn-light btn-sm"
        title="toggle full screen"
        style="display: flex; align-items: center; justify-content: center"
    >
        <!-- Origin: https://icons.getbootstrap.com/icons/arrows-fullscreen/ -->
        <i id="icon-fullscreen" class="bi bi-arrows-fullscreen"></i>
    </button>
</div>

<script type="module" src="<%= locals.path ?? '' %>shared.js"></script>
<script type="module" src="<%= locals.path ?? '' %><%= js %>"></script>
<script>
    /* activate popovers */
    const popoverTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="popover"]'),
    );
    popoverTriggerList.map(
        // bootstrap is used as script in the template, disable warning about undef
        // eslint-disable-next-line no-undef
        popoverTriggerEl =>
            new bootstrap.Popover(popoverTriggerEl, {
                trigger: 'hover',
                placement: 'left',
                content: document.getElementById(popoverTriggerEl.getAttribute('data-bs-content'))
                    .innerHTML,
                html: true,
            }),
    );

    var fullScreen = false;

    const fullScreenButton = document.getElementById('btnFullscreen');

    function updateFullScreenIcon() {
        const target = document.getElementById('icon-fullscreen');
        if (document.fullscreen) {
            target.className = 'bi bi-fullscreen-exit';
        } else {
            target.className = 'bi bi-arrows-fullscreen';
        }
    }

    document.addEventListener('fullscreenchange', () => {
        updateFullScreenIcon();
    });

    function toggleFullScreen() {
        if (!fullScreen) {
            document
                .getElementById('viewerDiv')
                .parentElement.requestFullscreen()
                .then(() => {
                    fullScreen = true;
                });
        } else {
            document.exitFullscreen().then(() => {
                fullScreen = false;
            });
        }
    }

    if (fullScreenButton) fullScreenButton.onclick = toggleFullScreen;

    function copyContentByID(id) {
        const source = document.getElementById(id);
        const text = source.textContent;
        const btn = source.querySelector('.btn');
        navigator.clipboard
            .writeText(text.trim())
            .then(() => {
                btn.classList.add('pulse-once');
                setTimeout(() => btn.classList.remove('pulse-once'), 1000);
            })
            .catch(e => {
                console.log('failed', e);
            });
    }
</script>
